.item {
  &__title,
  &__description {
    font-weight: 300;
    font-size: 16px;
    line-height: 160%;
  }

  &__description {
    margin-bottom: 4px;
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }

  &__size-label,
  &__color-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  &__size-label,
  &__size-button,
  &__price,
  &__color-label {
    margin-bottom: 8px;
  }

  &__size-button {
    background-color: #fff;
    border: 1px solid #1d1f22;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--selected {
      background-color: #1d1f22;
      color: #fff;
    }
  }

  &__color-button {
    width: 20px;
    height: 20px;
    cursor: pointer;

    &--selected {
      border: 1px solid #5ece7b;
    }
  }

  &__size-buttons,
  &__color-buttons {
    display: flex;
    column-gap: 8px;
  }

  &__quantity-button {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__quantity {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
  }
}
